body{
    background-image: url(../images/wallpaper2.jpg);
    height: 100%;
    width: 97%;
    background-repeat:no repeat;
    background-size:cover;
   /* background-position: center;*/
    } 

  .fd{
    border:0px solid;
    margin-left:295px;
    margin-top:25px;
    padding-left:50px;
    padding-top:10px;
    width:900px;
    line-height: 30px;
    font-size: 18px;;
}
